.book{
  background-color: rgb(217, 196, 90);
  width: 350px;
  border: 2px solid black;
  margin: 10px;
  text-align: center;
  /* padding-bottom: 20px; */
}
img{
  height: 200px;
  width: 200px;
}

.container{
  overflow:auto;
height: 75vh;
  background-color: rgb(72, 72, 81);
  display: flex;
  flex-wrap: wrap;
}

button{
  background-color:rgb(10, 66, 63);
  color: white;
  height: 40px;
  width: 70%;
  border-radius: 20px;
  border: none;
  margin: 10px 0 20px;
  cursor: pointer;
}

.navbar{
  background-color:rgb(10, 66, 63);

  color: white;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.footer{
  background-color:rgb(10, 66, 63);
height: 15vh;
  color: white;
  margin-top: -22px;
  /* display: flex; */
  text-align: center;
  padding-top: 10px;
}